<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessData</servlet-name>
        <servlet-class>myPkg.ProcessData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HadoopProcessing</servlet-name>
        <servlet-class>myPkg.HadoopProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileGeneratorMain</servlet-name>
        <servlet-class>myPkg.FileGeneratorMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessData</servlet-name>
        <url-pattern>/ProcessData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HadoopProcessing</servlet-name>
        <url-pattern>/HadoopProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileGeneratorMain</servlet-name>
        <url-pattern>/FileGeneratorMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
